@import "tailwindcss";

:root {
  font-family: "Dosis", sans-serif;
}

@theme {
  --color-matcha-bg: var(--color-lime-400);
    --color-matcha-text: var(--color-lime-500);
  --color-rose-bg: var(--color-rose-300);
  --color-rose-bright: var(--color-rose-500);

  --animate-notification: notification 0.3s ease-in-out alternate;

  @keyframes notification {
    0% {
      top: -48px;
    }
    100% {
      top: 2px;
    }
  }
}
